<div class="card container">
    <%#= @course.img %>
  <h3><%= @course.name %></h3>
  <p><%= @course.description%></p>
  <strong><span><%= @course.price %></span></strong>
<%= simple_form_for [@course, @purchase] do |f| %>
  <%= f.button :submit, "Pagar"  %>
<% end %>
</div>

<br>
<br>
<br>
<br>

