  <div class="container-fluid" style="background-color: #f2f2f2; padding: 20px;">
    <div class="row border d-flex ">
      <div class="col-md-4 p-4 bg-white d-flex flex-column justify-content-center align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), ">
        <% if event.event_date.present? %>
          <% months = %w(Enero Febrero Marzo Abril Mayo Junio Julio Agosto Septiembre Octubre Noviembre Diciembre) %>
          <div class="d-flex flex-column align-items-center">
            <span class="display-1 fw-bold"><%= event.event_date.strftime("%d") %></span>
            <span class="display-6 fw-bold"><%= months[event.event_date.month - 1] %></span>
            <span class="display-6 fw-bold"><%= event.event_date.strftime("de %Y") %></span>
          </div>
        <% end %>
      </div>

      <div class="col-md-4 p-4 bg-white" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),">
        <div class="d-flex flex-column justify-content-center align-items-center h-100">
            <%= content_tag :div, class: 'section-content text-center text-black' do %>
              <h2><%= link_to event.name, event_path(event), class: "text-decoration-none text-black" %></h2>
              <p><%= event.description %></p>
              <p class="h3">
                <span>$</span>
                <span class="price"><%= number_to_currency(event.price, unit: "", separator: ",", delimiter: ".") %></span>
              </p>
            <% end %>
        </div>
      </div>

        <div class="card-event col-md-4 my-6" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=url_for(event.photo) if event.photo.present?%>); background-size:cover; background-position:center;">
        </div>
    </div>
  </div>
