<div class="event-container">
  <div class="row">
    <div class="col-12">
      <%= link_to 'Crear Evento', new_event_path(current_user), class: 'btn btn-flat text-white ms-2', style: 'background-color: #A16DB7;' %>

            <div class="d-flex justify-content-center mb-4">
              <ul class="nav nav-tabs text-dark" id="myTab" role="tablist" style="border-bottom:1px solid #5D3277;">
                <li class="nav-item" role="presentation">
                  <button class="nav-link me-4 active" id="home-tab" data-bs-toggle="tab" data-bs-target="#Sucediendo" type="button" role="tab" aria-controls="home" aria-selected="true" style="border-bottom:1px solid #5D3277; color:#5D3277"><strong>Sucediendo</strong></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link me-4" id="profile-tab" data-bs-toggle="tab" data-bs-target="#Próximos" type="button" role="tab" aria-controls="profile" aria-selected="false" style="border-bottom:1px solid #5D3277; color:#5D3277"><strong>Próximo</strong></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link me-4" id="contact-tab" data-bs-toggle="tab" data-bs-target="#Caducados" type="button" role="tab" aria-controls="contact" aria-selected="false" style="border-bottom:1px solid #5D3277; color:#5D3277"><strong>Caducado</strong></button>
                </li>
              </ul>
            </div>

            <!--  SUCEDIENDO-->
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="Sucediendo" role="tabpanel" aria-labelledby="home-tab">
                  <%if !@events_sucediendo.empty? %>
                    <% @events_sucediendo.each do |event| %>
                      <%= render "event", event: event %>
                    <%end %>
                  <%end  %>
              </div>
              <!--  PROXIMOS-->
              <div class="tab-pane fade" id="Próximos" role="tabpanel" aria-labelledby="profile-tab">
                  <%= render @events %>
              </div>

              <!--  CADUCADOS-->
              <div class="tab-pane fade" id="Caducados" role="tabpanel" aria-labelledby="contact-tab">
                  <%if !@events_caducados.empty? %>
                    <% @events_caducados.each do |event| %>
                      <%= render "event", event: event %>
                    <%end %>
                  <%end  %>
              </div>


      <%= link_to 'Crear Evento', new_event_path(current_user), class: 'btn btn-flat text-white', style: 'background-color: #A16DB7;' %>
    </div>
  </div>
</div>
