<div class="event-container mt-5">
  <h2 class="fs-4 text-secondary">EVENTO</h2>

  <div class="event-container mt-5 p-5 shadow border bg-white">
    <div class="row border d-flex">
      <div class="col-6 mt-4">
        <img src="https://images.pexels.com/photos/8007128/pexels-photo-8007128.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="img-fluid" height="650" width="600">
      </div>

      <div class="col-6 p-8">

        <%= turbo_frame_tag "test" do %>

              <p><h1><%= @event.name %></h1>
              <p><%= @event.description %></p>
              <p><%= @event.event_date %></p>
              <p><strong> <%= number_to_currency(@event.price) %></strong></p>

              <%= link_to 'Atrás', events_path, data: {turbo: false}, class: 'btn btn-flat'%>


              <% if user_signed_in? %>
                <%= link_to 'Pagar', new_event_purchase_path(@event), data: {turbo_frame: "test"}, class: "btn btn-flat" %>
              <% else %>
                  <%= link_to 'Pagar',new_event_purchase_path(@event), data: {turbo: false},class: "btn btn-flat" %>
              <%end %>

            <% if current_user == @event.user %>
              <%= link_to 'Editar Evento', edit_event_path(@event), data: {turbo_frame: "test"}, class: 'btn btn-flat' %>
            <% end %>

        <% end %>
              <%= link_to 'Borrar Evento', event_path(@event), data: { turbo_method: :delete,turbo_confirm: 'Estas segura?'}, class: 'btn btn-flat' if current_user == @event.user %>

      </div>
    </div>
  </div>
</div>
