<%# banner %>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="position:relative;" >
  <div class="carousel-inner" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
    <div class="carousel-item active img-overlay">
      <img src="https://images.pexels.com/photos/3771106/pexels-photo-3771106.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block w-100" alt="..." style="object-fit: cover;">
    </div>
    <div class="carousel-item img-overlay">
      <img src="https://images.pexels.com/photos/1153369/pexels-photo-1153369.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block w-100" alt="..." style="object-fit: cover;">
    </div>
    <div class="carousel-item img-overlay">
      <img src="https://images.pexels.com/photos/933255/pexels-photo-933255.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block w-100" alt="..." style="object-fit: cover;">
    </div>
  </div>
  <div class="container p-5">
    <div class="banner-home" id="home-banner">

      <div class="container align-items-center">
        <p>transforma tu mundo con <strong>Skill Swap!</strong></p>
        <h1>EMPODERATE!</h1>
        <%= link_to "EMPIEZA AHORA", "#", class: "btn btn-flat" %>
      </div>


      <div class="widget-container d-flex mt-5 p-4 align-items-center ">

        <div class="widget p-5 mt-5">
          <div class="d-flex">
            <div class="flex-shrink-0" style="width:80px; height:80px; margin-right:10px;">
              <img src="<%= asset_path('team.svg') %>" alt="Idea">
            </div>
            <div class="flex-grow-1 ms-3" style="margin-top:5px;">
              <p style="margin:0; font-size:16px;">APRENDE CON EL MEJOR EQUIPO</p>
              <a href="#">VER MAS +</a>
            </div>
          </div>
        </div>

       <div class="widget p-5 mt-5">
          <div class="d-flex">
            <div class="flex-shrink-0" style="width:80px; height:80px; margin-right:10px;">
              <img src="<%= asset_path('education.svg') %>" alt="Idea">
            </div>
            <div class="flex-grow-1 ms-3" style="margin-top:5px;">
              <p style="margin:0; font-size:16px;">ENCUENTRA LOS MEJORES CURSOS</p>
              <a href="#">VER MAS +</a>
            </div>
          </div>
        </div>

        <div class="widget p-5 mt-5">
          <div class="d-flex">
            <div class="flex-shrink-0" style="width:80px; height:80px; margin-right:10px;">
              <img src="<%= asset_path('light-bulb-idea.svg') %>" alt="Idea">
            </div>
            <div class="flex-grow-1 ms-3" style="margin-top:5px;">
              <p style="margin:0; font-size:16px;">APRENDE Y EMPRENDE</p>
              <a href="#">VER MAS +</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<%# cards container %>

<div class="container">
  <div class="container-xl">
    <div class="row justify-content-center text-left">
      <div class="col-12 col-md-10">
        <h2>Cursos destacados</h2>
        <p>Aprendizaje sin límites, mas posibilidades</p>
      </div>
    </div>
  </div>


  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="cards-container mb-1">
          <div class="row row-cols-1 row-cols-md-4">
            <% @courses.each do |course| %>
              <div class="col mb-4">
                <%= render partial: "courses/course", locals: { course: course } %>
              </div>
            <% end %>
            <%= link_to "VER TODOS", courses_path, class: "btn btn-flat shadow" %>
          </div>
        </div>
      </div>
      <%# <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
      </div> %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
</div>



<%# fake container "register now" %>

<div class="d-flex align-items-center">
  <div class="register-container banner-home" id="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('banner_01.jpg') %>); display: flex;">
    <div class="container">
      <div class="container text-reg-container align-content-center ps-5 ms-5 mt-5">
        <div class="col-12">
          <h3>¡No pierdas la oportunidad de aprender algo nuevo!</h3>
          <h1>Regístrate ahora!</h1>
        </div>
      </div>
    </div>

    <div class="container rounded">
      <form style="width: 75%;" class="p-5">
      <h3>Crea tu cuenta gratis ahora y obtén acceso a miles de cursos en línea.</h3>
          <div class="mb-3">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Nombre" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Email">
          </div>
           <div class="mb-3">
             <input type="phone_number" class="form-control" id="exampleInputPassword1" placeholder="Teléfono">
          </div>
          <%= link_to "REGISTRATE", "#", class: "btn btn-flat w-100" %>
      </form>
    </div>
  </div>
</div>

<%# fake container "reviews" %>

<div class="container">
  <div class="reviews-slider">
    <div class="reviews-slider__item">
        <a class="reviews-slider__photo-wrapper" href="#">
          <img src="https://s-media-cache-ak0.pinimg.com/736x/3c/e7/fb/3ce7fb4af79d08b5466c3bbfc4075e5d.jpg" alt="" class="reviews-slider__photo" />
        </a>
        <div class="reviews-slider__text">
          <div class="reviews-slider__message">
            <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Предложения приставка подпоясал рукописи букв необходимыми бросил эта на берегу наш семантика снова. Вскоре по всей меня ручеек, алфавит текст, всеми которой!</p>
          </div>
          <div class="reviews-slider__author-name">Наталия Хлистунова</div>
        </div>
    </div>
    <div class="reviews-slider__item">
        <a class="reviews-slider__photo-wrapper" href="#">
          <img src="https://proxy12.online.ua/news/r3-db568d3331/54b4bf6868f09.jpg" alt="" class="reviews-slider__photo" />
        </a>
        <div class="reviews-slider__text">
          <div class="reviews-slider__message">
            <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Предложения приставка подпоясал рукописи букв необходимыми бросил эта на берегу наш семантика снова. Вскоре по всей меня ручеек, алфавит текст, всеми которой!</p>
          </div>
          <div class="reviews-slider__author-name">Наталия Хлистунова</div>
        </div>
    </div>
    <div class="reviews-slider__item">
        <a class="reviews-slider__photo-wrapper" href="#">
          <img src="https://s-media-cache-ak0.pinimg.com/originals/65/b4/09/65b409ed56136a5e8c7bb4f2eee79612.jpg" alt="" class="reviews-slider__photo" />
        </a>
        <div class="reviews-slider__text">
          <div class="reviews-slider__message">
            <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Предложения приставка подпоясал рукописи букв необходимыми бросил эта на берегу наш семантика снова. Вскоре по всей меня ручеек, алфавит текст, всеми которой!</p>
          </div>
          <div class="reviews-slider__author-name">Наталия Хлистунова</div>
        </div>
    </div>
    <div class="reviews-slider__item">
        <a class="reviews-slider__photo-wrapper" href="#">
          <img src="https://s-media-cache-ak0.pinimg.com/originals/68/4b/95/684b95193fc93aa153895d35ffb92617.jpg" alt="" class="reviews-slider__photo" />
        </a>
        <div class="reviews-slider__text">
          <div class="reviews-slider__message">
            <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Предложения приставка подпоясал рукописи букв необходимыми бросил эта на берегу наш семантика снова. Вскоре по всей меня ручеек, алфавит текст, всеми которой!</p>
          </div>
          <div class="reviews-slider__author-name">Наталия Хлистунова</div>
        </div>
    </div>
    <div class="reviews-slider__item">
        <a class="reviews-slider__photo-wrapper" href="#">
          <img src="https://s-media-cache-ak0.pinimg.com/736x/2f/27/7f/2f277fbfb452c42399ba53c966f868b7.jpg" alt="" class="reviews-slider__photo" />
        </a>
        <div class="reviews-slider__text">
          <div class="reviews-slider__message">
            <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Предложения приставка подпоясал рукописи букв необходимыми бросил эта на берегу наш семантика снова. Вскоре по всей меня ручеек, алфавит текст, всеми которой!</p>
          </div>
          <div class="reviews-slider__author-name">Наталия Хлистунова</div>
        </div>
    </div>
    <div class="reviews-slider__item">
        <a class="reviews-slider__photo-wrapper" href="#">
          <img src="https://s-media-cache-ak0.pinimg.com/736x/f6/f4/56/f6f45646f34efeae61f05c177f76fced.jpg" alt="" class="reviews-slider__photo" />
        </a>
        <div class="reviews-slider__text">
          <div class="reviews-slider__message">
            <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Предложения приставка подпоясал рукописи букв необходимыми бросил эта на берегу наш семантика снова. Вскоре по всей меня ручеек, алфавит текст, всеми которой!</p>
          </div>
          <div class="reviews-slider__author-name">Наталия Хлистунова</div>
        </div>
    </div>
    <div class="reviews-slider__item">
        <a class="reviews-slider__photo-wrapper" href="#">
          <img src="https://s-media-cache-ak0.pinimg.com/originals/68/4b/95/684b95193fc93aa153895d35ffb92617.jpg" alt="" class="reviews-slider__photo" />
        </a>
        <div class="reviews-slider__text">
          <div class="reviews-slider__message">
            <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Предложения приставка подпоясал рукописи букв необходимыми бросил эта на берегу наш семантика снова. Вскоре по всей меня ручеек, алфавит текст, всеми которой!</p>
          </div>
          <div class="reviews-slider__author-name">Наталия Хлистунова</div>
        </div>
    </div>
  </div>
</div>
