<div class="container my-4">
  <div class="mt-2 mb-5 p-3 shadow border bg-white ">
    <div class="row">
      <div class="col-md-5 d-flex justify-content-center align-items-center" style="min-height: 100%;">
        <img src="https://images.pexels.com/photos/4468011/pexels-photo-4468011.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="course_image_cap", style= "width: 500px; height: 630px; object-fit: cover;">
      </div>
      <div class="col-md-7">
        <h3 class="text-center mb-0"> Crear nuevo curso </h3>
        <p>
          <%= simple_form_for @course, url: courses_path do |f| %>
            <%= f.input :name, label: 'Nombre del curso', label_html: { style: 'font-size: 15px;' }, input_html: { class: 'mb-2' } %>
            <%= f.input :description, label: 'Descripción', label_html: { style: 'font-size: 15px;' }, input_html: { class: 'mb-2' } %>
            <%= f.collection_select :category, Course.select(:category).distinct.pluck(:category).map(&:capitalize), :to_s, :to_s, { prompt: "Seleccione una Categoría" }, { style: 'font-size: 15px; width: 200px; height: 40px;', class: 'mb-2', id: 'course_category' } %><br>
            <%= "En caso de no aparecer la categoría deseada, marca la casilla para añadir una nueva." %>
            <input id="category_check" class="form-check-input me-1 pointer" type="checkbox" name="listGroupRadio" value="" ><br>
            <%= f.input :category, as: :string, label: 'Añade nueva categoría', label_html: { style: 'font-size: 15px;',  id:'label_category', class: 'd-none' }, input_html: { class: 'mb-2 d-none', id: 'input_category'} %>
            <%= f.input :price, label: 'Precio', label_html: { style: 'font-size: 15px;' }, input_html: { class: 'mb-2' } %>
            <%= f.input :photo, as: :file, label: 'Imagen del curso', label_html: { style: 'font-size: 15px;' }, input_html: { class: 'mb-2' } %>
            <%= f.submit "Crear nuevo curso", class: 'btn btn-flat' %>
          <% end %>
        </p>
        <p><%= link_to "Atrás", :back, class: "btn btn-flat w-100 text-white", style: 'background-color: #A16DB7;' %></p>
      </div>
    </div>
  </div>
</div>

<script>
const dropdown_category = document.querySelector('#course_category');
const category_check = document.getElementById('category_check');
const input_category = document.getElementById('input_category');
const label_category = document.getElementById('label_category');

category_check.addEventListener('change', (event) => {
  dropdown_category.value = '';
  input_category.value = '';

    if(event.target.checked) {
      label_category.classList.remove('d-none');
      input_category.classList.remove('d-none');
      dropdown_category.disabled = true;
    } else {
      label_category.classList.add('d-none');
      input_category.classList.add('d-none');
      dropdown_category.disabled = false;
    }
});
</script>
