<h1>Courses#show</h1>
<p>Find me in app/views/courses/show.html.erb</p>
<p><%= @course.name %></p>
<p><%= @course.description %></p>
<p>$<%= @course.price %></p>

<%= link_to 'Atrás', courses_path %>
<% unless current_user && (current_user.courses.include?(@course) || current_user.courses_as_student.include?(@course)) %>
  <%= link_to 'Inscribirme', new_course_purchase_path(@course) %>
<% end %>


<p><% if current_user == @course.user %>
  <%= link_to 'Editar Curso', edit_course_path(@course) %>
  <%= link_to 'Eliminar Curso', course_path(@course), data: {turbo_method: :delete, turbo_confirm: '¿Estás segura?' } %>
  <%= link_to 'Añadir Nuevo Curso', new_course_path(@course) %>
<% end %></p>
