<br><br><br><br>
<div class="container d-flex justify-content-between">
  <div class="">
    <h3 class= "mt-5"><%= @course.name %></h3>
      <p><%= @course.assessment %></p>
      <div class="d-flex justify-conten-between align-items-center">
        <div style="width: 50px; height: 50px; overflow: hidden; border-radius: 50%; margin-right: 10px;">
          <%= image_tag @course.user.photo, alt: "User photo", style: "width: 100%; height: auto;" %>
        </div>
        <p id="course-banner-titles">
          <span class="spacing1">Profesora</span>
          <span class="spacing">Categorías</span>
          <span class="spacing">Reviews</span>
        </p>
      </div>
      <div class="d-flex align-items-center">
        <p>
          <span class="spacing"><%= @course.user.first_name %> <%= @course.user.last_name %></span>
          <span class="spacing"><%= @course.category %></span>
          <%= raw '<i class="fa-solid fa-star" style="color: #FFD43B;"></i>' * 5 %>
        </p>
      </div>
  </div>
  <div class="aside_course"><%= image_tag @course.photo, size: "400x400" %></div>
</div>
